<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">
            {{rental.title}}
            {{rental-state-label rental.rentalState.name}}
        </h2>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="row">

            </div>
            <div class="col-md-6">
                <div class="row">
                    <p>
                      <span class="rental-property-type">{{rental.propertyType.name}}</span> /
                      <span class="rental-bedrooms">{{rental.bedrooms}} bed</span>
                  </p>
                </div>
                <div class="row">
                  <p>{{#link-to 'landlords.show' rental.landlord}}{{rental.landlord.name}}{{/link-to}}</p>
                  <p>{{#link-to 'rentals.show' rental}}More details{{/link-to}}</p>
                </div>

            </div>
            <div class="col-md-6">
              <p>
                  <span class="rent-amount">£{{rental.defaultRent}}</span>
                  <span class="rent-period">{{rental.rentPaymentPeriod}}</span>
              </p>
            </div>
        </div>
        <div class="col-md-6">
              <p><img class='rental-image img-thumbnail' src={{rental.image}}></p>
        </div>
    </div>
</div>